In [2]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno

In [150]:
attack = pd.read_csv('C:/Users/wgfra/Aulas_ironhack/Aula_iron/Projeto_Shark_Attacks/attacks.csv', encoding='latin')

In [151]:
attack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [152]:
attack.shape

(25723, 24)

In [153]:
pd.options.display.max_columns = 25

In [154]:
pd.set_option('display.max_rows', 100)

In [155]:
attack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [156]:
attack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [157]:
#organizando as colunas

In [158]:
attack.shape

(25723, 24)

In [176]:
attack.columns = [col.lower().replace(' ','_').replace('.','_') for col in attack.columns]
attack = attack.rename({'sex_':'sex','species_':'species'}, axis = 1)

In [177]:
attack.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [178]:
#dropando colunas sem informações

In [179]:
attack_dropped = attack.drop(attack[['case_number','unnamed:_22','unnamed:_23','case_number_2','original_order','href_formula','href','type' ]], axis = 1)

In [180]:
attack_dropped.shape

(25723, 16)

In [181]:
attack_dropped = attack_dropped.loc[0:6301]

In [182]:
attack_dropped.shape

(6302, 16)

In [183]:
attack_dropped.head()

,date,year,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number_1
0,25-Jun-2018,2018.0,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25
1,18-Jun-2018,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18
2,09-Jun-2018,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09
3,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08
4,04-Jun-2018,2018.0,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04

In [184]:
#selecionando year acima de 2008

In [185]:
year2000 = attack_dropped.query('year >= 2000')

In [199]:
year2000.head()

,date,year,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number_1
0,25-Jun-2018,2018.0,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25
1,18-Jun-2018,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18
2,09-Jun-2018,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09
3,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08
4,04-Jun-2018,2018.0,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04

In [187]:
#organizando dados com regex
#separando as linhas que irei trabalhar

In [188]:
year2000['year'].value_counts().sort_index(ascending=False)

2018.0     53
2017.0    136
2016.0    130
2015.0    143
2014.0    127
2013.0    122
2012.0    117
2011.0    128
2010.0    101
2009.0    120
2008.0    122
2007.0    112
2006.0    103
2005.0    103
2004.0     92
2003.0     92
2002.0     88
2001.0     92
2000.0     97
Name: year, dtype: int64

In [189]:
year2000.head()

,date,year,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number_1
0,25-Jun-2018,2018.0,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25
1,18-Jun-2018,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18
2,09-Jun-2018,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09
3,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08
4,04-Jun-2018,2018.0,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04

In [190]:
year2000.shape

(2078, 16)

In [226]:
teste = year2000['year'].value_counts().sort_index(ascending=False).rolling(6).mean()

In [227]:
teste1 = year2000['year'].value_counts().sort_index(ascending=False).rolling(6).sum()

In [228]:
teste.sort_index(ascending=False)

2018.0           NaN
2017.0           NaN
2016.0           NaN
2015.0           NaN
2014.0           NaN
2013.0    118.500000
2012.0    129.166667
2011.0    127.833333
2010.0    123.000000
2009.0    119.166667
2008.0    118.333333
2007.0    116.666667
2006.0    114.333333
2005.0    110.166667
2004.0    108.666667
2003.0    104.000000
2002.0     98.333333
2001.0     95.000000
2000.0     94.000000
Name: year, dtype: float64

In [229]:
#soma de 5 anos
#.rolling(5) pega o ano + os próximos 4 a frente e soma, tira a média, etc
teste = pd.DataFrame(teste).reset_index()

In [230]:
#adicionando nova coluna  year2000.insert(2, "Age", [21, 23, 24, 21], True)

In [234]:
teste = teste.rename(columns = {'index': 'ano'})

In [249]:
teste = teste.loc[5:]

In [265]:
#recriando novas colunas com medias dos acidentes por ano, excluir linhas e adicionar ao dataframe original as linhas,
#com o ano e sua média a cada 6 anos

In [263]:
teste.reset_index().drop('index', axis=1)

       ano        year
0   2013.0  118.500000
1   2012.0  129.166667
2   2011.0  127.833333
3   2010.0  123.000000
4   2009.0  119.166667
5   2008.0  118.333333
6   2007.0  116.666667
7   2006.0  114.333333
8   2005.0  110.166667
9   2004.0  108.666667
10  2003.0  104.000000
11  2002.0   98.333333
12  2001.0   95.000000
13  2000.0   94.000000

In [197]:
year2000['year'].value_counts().sort_index(ascending=False)

2018.0     53
2017.0    136
2016.0    130
2015.0    143
2014.0    127
2013.0    122
2012.0    117
2011.0    128
2010.0    101
2009.0    120
2008.0    122
2007.0    112
2006.0    103
2005.0    103
2004.0     92
2003.0     92
2002.0     88
2001.0     92
2000.0     97
Name: year, dtype: int64

In [198]:
#criando novas colunas com dados dos anos onde houve ataques de tubarões a cada cinco anos
data = {['2000-2004','2005-2009']:[]}

TypeError: unhashable type: 'list'

In [237]:
#criar um novo dataframe com as informações adquiridas do dataframe original

In [238]:
#separar paises por continentes